:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-bg: #f4f6fa;
  --color-container: #fff;
  --color-border: #bbbfc0;
  --color-primary: #004ea0;
  --color-primary-dark: #00448c;
  --color-primary-text: #f2f4f3;
  --color-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
  --color-shadow-hover: 0 4px 16px rgba(37, 99, 235, 0.15);
  --color-green: #059669;
  --color-green-hover: #05815a;
  --color-label: #3a4a5d;
  --color-title: #2d3a4b;
  --color-success: #10b981;
  --color-error: #d32f2f;
  --color-error-hover: #b62929;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  max-width: 45vw;
  min-height: 85vh;
  max-height: 95vh;
  background-color: var(--color-container);
  border-radius: 22px;
  box-shadow: var(--color-shadow);
  padding: 40px 30px;
  overflow-y: auto;
}

label {
  font-family: Arial;
  display: block;
  color: var(--color-label);
  margin-bottom: 4px;
}

.converter-form {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.app-header {
  line-height: 1.2;
  text-align: center;
}

.app-header__title {
  color: var(--color-primary);
  margin-bottom: 5px;
}

.app-header__description {
  color: var(--color-label);
}

input[type="file"],
select,
.btn {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 12px 8px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  background-color: #f9fafb;
  cursor: pointer;
  outline: 0;

  &:focus-visible {
    border-color: var(--color-primary);
  }
  &:disabled {
    background-color: var(--color-primary-text);
    cursor: not-allowed;
  }
}

input[type="file"] {
  border: 2px dashed var(--color-border);
  transition: border 0.3s ease;
  &:hover {
    border-color: var(--color-primary);
  }
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  font-weight: 600;
  color: var(--color-primary-text);
  background-color: var(--color-primary);
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: var(--color-shadow);
  transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::file-selector-button:hover {
  background-color: var(--color-primary-dark);
}

.btn {
  font-weight: 600;
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border: none;
  box-shadow: var(--color-shadow);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-dark);
    box-shadow: var(--color-shadow-hover);
  }
}

.btn--convert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-block: 15px !important;
}

.btn--download,
.btn--download-zip {
  width: fit-content;
  padding: 12px 24px;
  background-color: var(--color-green);
  color: var(--color-primary-text);
  transition:
    background-color 0.5s,
    transform 0.5s;

  &:hover,
  &:focus-visible {
    background-color: var(--color-green-hover);
    transform: scale(1.04);
  }
}

.btn--download {
  border: 2px solid var(--color-green-hover);
}

.btn--download-zip {
  background-color: var(--color-title);
  &:hover {
    background-color: var(--color-label);
  }
}

.btn--download-single {
  margin: 0;
  width: fit-content;
  padding: 10px 30px;
  border: 2px solid var(--color-green-hover);
  background-color: var(--color-green);
  color: var(--color-primary-text);
  font-weight: 700;

  &:hover {
    background-color: var(--color-green-hover);
  }
}

.progress {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 12px;

  &.active {
    opacity: 1;
    display: block;
  }
}

.progress__text {
  color: var(--color-label);
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.progress__bar {
  width: 100%;
  height: 8px;
  background-color: var(--color-border);
  border-radius: 999px;
  overflow: hidden;
  box-shadow: var(--color-shadow);
}

/* Анимация загрузки progress-бара */
@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.progress__fill {
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-dark)
  );
  border-radius: 999px;
  transition: 0.4s ease-in-out;
  will-change: width;
  transform: translateZ(0);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    animation: shimmer 2s infinite;
  }
}

.result-container {
  display: grid;
  gap: 20px;
}

.success-message,
.error-message {
  width: fit-content;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid transparent;
}

.success-message {
  border-color: var(--color-green);
  color: var(--color-green);
  background-color: rgba(16, 185, 129, 0.1);

  p {
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--color-green-hover);
  }
  span {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--color-title);
  }
}
.error-message {
  border-color: var(--color-error);
  background-color: rgba(211, 47, 47, 0.1);
  color: var(--color-error);
}

.result-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 4px 8px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .file-info {
    color: var(--color-title);
  }
}

.file-info {
  font-size: 0.9rem;
  & .file-info__name {
    font-weight: 500;
  }
}

.files-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 20px;
}

.app-footer {
  margin-top: auto;
}

.app-footer__content {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 6px;
}

@media (max-width: 1024px) {
  .app {
    max-width: 70vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 17px;
  }

  .app {
    max-width: 90%;
    padding: 20px 30px;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 1.7rem;
  }
  .app {
    margin-inline: 10px;
    padding: 15px;
    row-gap: 20px;
    border-radius: 12px;
  }

  .converter-form {
    row-gap: 12px;
  }

  input[type="file"],
  .btn,
  select {
    padding: 10px 8px;
  }

  .download-single-btn {
    font-size: 0.85rem;
    padding: 10px 20px;
  }
}

@media (max-width: 475px) {
  .success-message {
    padding: 3px 5px;
  }

  .files-list__header {
    flex-wrap: wrap;
  }

  .btn--download-zip {
    width: 100%;
  }
  .file-info__name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
